<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de Produtos</title>

    <!-- CDN CSS Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- CDN jQuery -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.slim.js"></script>

</head>

<body>
    <header>
        <div class="container-fluid"></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" class="img-fluid" width=30vw alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"
                    style="background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger2.svg?color=056367');">
                </span>
            </button>

            <div class="collapse navbar-collapse justify-content-lg-end" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">
                            <i class="fa fa-home" aria-hidden="true"></i>INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/produtos">
                            <i class="fa fa-handshake" aria-hidden="true"></i>PRODUTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/cadastrarProdutos">
                            <i class="fas fa-users" aria-hidden="true"></i>CADASTRAR PRODUTO</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
       
        <div class="container mt-5">
            <% if (dados == 0){ %>
                <div class="alert alert-warning text-danger text-center text-uppercase" role="alert">
                    Nenhum produto cadastrado
                  </div>
                <% } %>
            <div class="d-flex justify-content-between align-items-end">
                <h1 class="my-3">Lista de Produtos</h1> <a href="/cadastrarProdutos"
                    class="btn btn-success mb-2 flex">Inserir Produto</a>
                    <form action="/pesquisar" method="GET">
                        <input type="search" name="pesquisa">
                        <button type="submit">pesquisar</button>
                    </form>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-3">ID</th>
                        <th class="col-3">Descrição do Produto</th>
                        <th class="col-3">Quantidade</th>
                        <th class="col-3">Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <% dados.forEach(function(produto){%>
                    <tr>
                        <td>
                            <%= produto.id_produto%>
                        </td>
                        <td>
                            <%= produto.desc_produto%>
                        </td>
                        <td>
                            <%= produto.quant_produto%>
                        </td>
                        <td>
                            <%= produto.preco_produto%>
                        </td>
                        <td>
                            <a class="btn btn-warning flex" style="width: 120px;" href="/editarProduto/<%=produto.id_produto %>">Editar</a>
                            <a class="btn btn-danger flex"  style="width: 120px;" href="/produtos/apagar/<%=produto.id_produto %>">Apagar</a>
                        </td>
                    </tr>
                    <% }); %>

                </tbody>
            </table>
        </div>
    </main>

    <!-- CDN JS Bootstrap -->
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
</body>

</html>