<%- include('../partials/header'); %>

<main>
<div class="container">

    <div class="row">
  
      <div class="col">
  
        <h1 class="mt-5">Editar Produto</h1>
  
        <form class="mt-4" action="/editarProdutos" method="POST">
  
          <div class="form-group">
  
            <label for="nome">Nome</label>
  
            <input type="text" class="form-control" id="nome" name="nome"  placeholder="Nome do produto" value="<%= produto.nome %>">
  
          </div>
  
          <div class="form-group">
  
            <label for="valor">Valor Unitário</label>
  
            <input type="Number"  class="form-control" id="valor" name="valor"  placeholder="0,00" value="<%= produto.vlUnit %>">
  
          </div>
  
          <div class="form-group">
  
            <label for="codbarras">Código de Barras</label>
  
            <input type="Number"  class="form-control" id="codBarras" name="codBarras"  placeholder="000000000" value="<%= produto.codigoBarras %>">
  
          </div>
  
          <input type="hidden" name="id" value="<%= produto._id %>" />
  
          <button type="submit" class="btn btn-primary">Salvar</button>
  
        </form>    
  
      </div>
  
    </div>
  
  </div>
</main>

  <%- include('../partials/footer'); %>